@model Front_Office.Models.PanierCommande

@{
    ViewBag.Title = "CARYS - Facture";
    double total = 0;
    foreach (Front_Office.Models.LigneCommande ligne in Model.LigneCommandes)
    {
        total += (ligne.QuantiteCommande * ligne.PrixUnitaire);
    }
    Front_Office.Models.Client client = Front_Office.Models.BddContext.ObtenirClient(Model.NumeroClient);
}

<div class="jumbotron">
    <h1>Facture</h1>
    <ul>
        @foreach (Front_Office.Models.LigneCommande ligne in Model.LigneCommandes)
        {
            <li>@Html.ActionLink(ligne.Article.LibelleArticle, "Article", "Catalogue", new { id = @ligne.Reference }, null) x @ligne.QuantiteCommande</li>
        }
    </ul>
    <p>Total : @String.Format("{0:0.00} €", @total)</p>
    <h1>Livraison</h1>
    <ul>
        <li>Client : @client.PrenomClient @client.NomClient</li>
        <li>Adresse : @client.AdresseClient @client.CodePostalClient @client.VilleClient</li>
        <li>Telephone : @client.TelephoneClient</li>
        <li>Email : @client.EmailClient</li>
    </ul>
</div>