<!DOCTYPE html>
@using System.Security.Claims
@{
    var homeLinkText = "Nom de l'application";

    if (Request.IsAuthenticated)
    {
        var claimIdentity = User.Identity as ClaimsIdentity;
        if (claimIdentity != null)
        {
            homeLinkText = "Bonjour, " + claimIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
            var textSplit = homeLinkText.Split('@');
            homeLinkText = textSplit[0];
        }
    }
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CARYS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (Front_Office.Models.Categorie categorie in Front_Office.Models.BddContext.ObtenirCategories())
                    {
                        <li>@Html.ActionLink(categorie.LibelleCategorie, "Index", "Catalogue", new { id = categorie.IdCategorie }, null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <!-- Si l'utilisateur n'est pas authentifié -->
            @if (!Request.IsAuthenticated)
            {
            <div class="col-md-4">
                <h2>Déjà client</h2>
                <p>Cliquez ici pour accéder à votre compte.</p>
                <p>@Html.ActionLink("Se connecter", "Login", "Authentication", null, new { @class = "btn btn-default" })</p>
            </div>
            <div class="col-md-4">
                <h2>Inscription</h2>
                <p>Cliquez ici pour créer un compte.</p>
                <p>@Html.ActionLink("S'inscrire", "Inscription", "Client", null, new { @class = "btn btn-default" })</p>
            </div>
            }
            <!-- Si l'utilisateur est authentifié -->
            @if (Request.IsAuthenticated)
            {
                <div class="col-md-4">
                    <h2>@homeLinkText</h2>
                    <p>Cliquez ici pour vous déconnecter.</p>
                    <p>@Html.ActionLink("Se déconnecter", "Logout", "Authentication", null, new { @class = "btn btn-default" })</p>
                </div>
                <div class="col-md-4">
                    <h2>Compte</h2>
                    <p>Cliquez ici pour gérer votre compte.</p>
                    <p>@Html.ActionLink("Gestion", "Gestion", "Client", null, new { @class = "btn btn-default" })</p>
                </div>
            }
            <div class="col-md-4">
                <h2>Contact</h2>
                <p>Cliquez ici pour nous contacter.</p>
                <p>@Html.ActionLink("Nous contacter", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CARYS</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
