@{
    ViewBag.Title = "Catalogue";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    @if (Model.CategorieChoisie != null)
    {
        <p>@Model.CategorieChoisie.LibelleCategorie</p>
    }
    <ul>
        @foreach (Front_Office.Models.Article article in Model.Articles)
        {
            <li>@article.LibelleArticle - @article.Genre.LibelleGenre (@article.Prix €)</li>
        }
    </ul>
</div>